extends layout

block flash
  - var flashClass = "col-xs-12 col-sm-6 col-sm-offset-3";

block body
  .row
    .col-xs-12.col-sm-6.col-sm-offset-3
      .panel.panel-default#tracker
        .panel-heading
          h4.head Tracker
        .panel-body
          dl.dl-horizontal.device-details
            dt Tracking user
            dd= trackingUser.username
            dt Tracked user
            dd You (#{user.username})
            dt Tracked device
            dd= share.trackedDeviceDevicename
            dt Status
            dd= share.accepted ? "Accepted" : "Pending"

        .panel-footer
          form.bs-example.form-horizontal(method='post', action='/tracker/#{share.id}/delete')
            button.pull-left.btn.btn-danger(type='submit', value="") Revoke

          .clearfix

